.header {
	background: url(../img/rza3.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.text-vertical-bottom {
	display: table-cell;
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 1%;
}

.text-vertical-bottom h1 {
	margin: 0;
	font-size: 4.5em;
	font-weight: 700;
}

.strava-badge- {
	display: inline-block;
	height: 24px;
}

.strava-badge- img {
	visibility: hidden;
	height: 24px;
}

.strava-badge-:hover {
	background-position: 0 -37px;
}

.strava-badge-follow {
	height: 24px;
	width: 24px;
	background: url(../img/echelon-sprite-24.png) no-repeat 0 0;
}

.lead-bottom-margin {
	margin-bottom: 0px;
}

.rza-section {
	padding-top: 1px;
	padding-bottom: 7px;
	margin-bottom: 20px; 
}

.a-bold {
	font-weight: bold;
}
