.header {
	background: url(../img/rza1.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.text-vertical-top {
	display: table-cell;
	text-align: center;
	vertical-align: top;
}

.text-vertical-top h1 {
	margin: 0;
	padding-top: 10px;
	font-size: 4.5em;
	font-weight: 700;
}

.strava-badge- {
	display: inline-block;
	height: 24px;
}

.strava-badge- img {
	visibility: hidden;
	height: 24px;
}

.strava-badge-:hover {
	background-position: 0 -37px;
}

.strava-badge-follow {
	height: 24px;
	width: 24px;
	background: url(//badges.strava.com/echelon-sprite-24.png) no-repeat 0 0;
}